/* Basic Reset */
body {
    overflow-x: hidden; /* Ensure no horizontal scroll */
    font-family: serif; /* Default font */
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex; 
    flex-direction: column; 
}

/* Navbar Styling */
.navbar {
    background: transparent;
    overflow: hidden; /* Keep child elements contained */
    width: 100%;
    display: flex; 
    justify-content: center; /* Center links horizontally */
    align-items: center; /* Center links vertically */
    position: sticky; /* Sticky position to stay at bottom */
    bottom: 0;
    z-index: 1000; 
}

/* Navbar links styling */
.navbar a {
    display: block;
    color: white;
    text-align: center;
    align-items: center; /* Center text vertically */
    padding: 1rem 2rem; /* Padding for link spacing */
    text-decoration: none; 
    margin: 0 30px; /* Margin between links */
    transition: all 0.4s ease;
}

/* Navbar links hover effect */
.navbar a:hover {
    background-color: white;
    color: black;
}
