<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spinning 3D Earth</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>
    {%include 'navbar.html'%}
    <div id="fadeOverlay"></div>
    <div class="urban-text">Urban</div>
    <div class="oceans-text">ceans</div>
    
    <!-- Include JS Libraries -->
    <script src="https://threejs.org/build/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.umd.js"></script>
    <script src="static/js/home.js"></script>
</body>

</html>