<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="static/css/resources.css">
</head>
<body>
    <header>
        <h1>Resources</h1>
    </header>

    <div class="container">
        <div class="resource">
            <h2>NASA Earth Observatory: The Role of Phytoplankton in Earth's Ecosystems</h2>
            <p>This source provides information about the importance and impact of phytoplankton. You can find more information <a href="https://earthobservatory.nasa.gov/features/Phytoplankton#:~:text=Phytoplankton%20growth%20depends%20on%20the,levels%20depending%20on%20the%20species">here</a>.</p>
        </div>

        <div class="resource">
            <h2>Spatial and Temporal Dynamics of Phytoplankton in Tropical Reservoirs: A Scientific Review</h2>
            <p>This review explores the patterns and factors affecting phytoplankton in tropical reservoirs. You can find more information <a href="http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S0370-39082020000200423#:~:text=In%20tropical%20reservoirs%2C%20spatial%20and,et%20al.%2C%202011">here</a>.</p>
        </div>

        <div class="resource">
            <h2>Influence of Water Temperatures on Phytoplankton Species</h2>
            <p>This source discusses how water temperatures affect phytoplankton species. You can find more information <a href="https://www.sciencedaily.com/releases/2012/10/121025161747.htm#:~:text=Water%20temperatures%20strongly%20influence%20their,phytoplankton%20species%2C%20say%20the%20scientists">here</a>.</p>
        </div>

        <div class="resource">
            <h2>NASA Earth Observatory: The Role of Phytoplankton in Earth's Ecosystems</h2>
            <p>Explores the essential role of phytoplankton in Earth's ecosystems and its impact on climate and environmental health. You can find more information <a href="https://earthobservatory.nasa.gov/features/Phytoplankton">here</a>.</p>
        </div>

        <div class="resource">
            <h2>MIT Climate Portal: Understanding Phytoplankton and Climate Change</h2>
            <p>Gain insights into the significance of phytoplankton in the context of climate change and its implications for the planet's future. <a href="https://climate.mit.edu/explainers/phytoplankton">here</a>.</p>
        </div>

        <div class="resource">
            <h2>Ocean Visions: Ocean-Based Carbon Dioxide Removal (CDR)</h2>
            <p>Explore innovative approaches to ocean-based carbon dioxide removal (CDR) and its potential as a climate change mitigation strategy, as presented by Ocean Visions. <a href="https://oceanvisions.org/ocean-based-carbon-dioxide-removal/">here</a>.</p>
        </div>

        <div class="resource">
            <h2>United Nations: Ocean Habitats in the Fight Against Climate Change</h2>
            <p>Discover the critical role of ocean habitats, including seagrasses, mangroves, and phytoplankton, in mitigating climate change, as highlighted by the United Nations. <a href="https://www.un.org/en/climatechange/science/climate-issues/ocean#:~:text=Ocean%20habitats%20such%20as%20seagrasses,the%20fight%20against%20climate%20change.">here</a>.</p>
        </div>
        <div class="resource">
            <h2>Microalgal Air Purifiers: Harnessing Phytoplankton for Sustainable Solutions</h2>
            <p>Explore the potential of microalgal air purifiers that utilize phytoplankton to transform atmospheric carbon dioxide into valuable biomass and high-value products, as discussed in this scientific article. <a href="https://www.frontiersin.org/articles/10.3389/fenrg.2022.881758/full#:~:text=In%20microalgal%20air%20purifiers%2C%20O,biomass%20to%20high%2Dvalue%20products.">here</a>.</p>
        </div>
        <div class="resource">
            <h2>NASA's Blue Marble Collection</h2>
            <p>Explore NASA's captivating Blue Marble collection, a series of stunning images of Earth from space, highlighting the beauty and fragility of our planet. <a href="https://visibleearth.nasa.gov/collection/1484/blue-marble?page=1">here</a>.</p>
        </div>
    </div>
    <header>
        <h1>Videos</h1>
    </header>
    <div class="container">
        <div class="resource">
            <h2>Phytoplankton</h2>
            <a href="https://www.youtube.com/watch?v=q1EA3MIPURU">https://www.youtube.com/watch?v=q1EA3MIPURU</a>
            <p></p>
        </div>
    </div>
    <div class="container">
        <div class="resource">
            <h2>Microscopic Images of Phytoplankton</h2>
            <a href="https://www.youtube.com/watch?v=Khqj4yA_ksw">https://www.youtube.com/watch?v=Khqj4yA_ksw</a>
            <p></p>
        </div>
    </div>
    <div class="container">
        <div class="resource">
            <h2>The Insanely Important World of Phytoplankton</h2>
            <a href="https://www.youtube.com/watch?v=1xl5Z1d3wcQ">https://www.youtube.com/watch?v=1xl5Z1d3wcQ</a>
            <p></p>
        </div>
    </div>
    
    <header>
        <h1>Development Tools</h1>
    </header>
    <div class="container">
        <div class="resource">
            <h2>Heroku</h2>
            <a href="https://www.heroku.com/">//www.heroku.com/</a>
        </div>
    </div>
    <div class="container">
        <div class="resource">
            <h2>HTML, CSS, JavaScript</h2>
        </div>
    </div>
    <div class="container">
        <div class="resource">
            <h2>Python</h2>
            <a href="https://www.python.org/">https://www.python.org/</a>
        </div>
    </div>
    <div class="container">
        <div class="resource">
            <h2>Flask</h2>
            <a href="https://flask.palletsprojects.com/en/3.0.x/">https://flask.palletsprojects.com/en/3.0.x/</a>
        </div>
    </div>
    <div class="container">
        <div class="resource">
            <h2>Three.js</h2>
            <a href="https://threejs.org/">https://threejs.org/</a>
        </div>
    </div>
    <div class="container">
        <div class="resource">
            <h2>VSCode</h2>
            <a href="https://code.visualstudio.com/">https://code.visualstudio.com/</a>
        </div>
    </div>
    <div class="container">
        <div class="resource">
            <h2>AJAX</h2>
            <a href="https://flask.palletsprojects.com/en/2.0.x/patterns/jquery/">https://flask.palletsprojects.com/en/2.0.x/patterns/jquery/</a>
        </div>
    </div>
    <div class="container">
        <div class="resource">
            <h2>Gunicorn</h2>
            <a href="https://flask.palletsprojects.com/en/3.0.x/deploying/gunicorn/">https://flask.palletsprojects.com/en/3.0.x/deploying/gunicorn/</a>
        </div>
    </div>
</body>
</html>
